@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

/* Add this CSS in your stylesheet or within your component's styling */
@media (max-width: 414px) {
  .hide-on-small-screen {
    display: none;
  }
}
