@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.star {
  height: 1rem;
  width: 1rem;
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity));
}

/* Add this CSS in your stylesheet or within your component's styling */
@media (max-width: 414px) {
  .main-logo {
    display: none;
  }
  .main-header {
    display: none;
  }
}
